@import '_vars-colors';
@import '_vars-fonts';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-light-gray;
  font-family: $font-sans-serif;
}

html {
    width: 100%;;
    overflow: hidden;
}

body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
