@import '_vars-layout';

.app {
  height: 100vh;
}
.mp-workspace {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  user-select: none;
  height: 100%;

  .mp-editor {
    width: $layout-editor-width;
    flex: 1;
    height: 100%;
  }

  .mp-debug {
    flex: 1;
    height: 100%;
    .mp-debug-tabs {
      height: $layout-control-surface-height;
    }
  }
}

.demo-bar {
  // $horiz-extremes: 128px;
  $horiz-extremes: 16px;

  height: 32px;
  position: absolute;
  bottom: 16px;
  left: $horiz-extremes;
  right: $horiz-extremes;
  background-color: red;
  user-select: none;

  .left {
    height: 16px;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
  }

  .right {
    height: 16px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
  }

  .slider {
    height: 16px;
    position: absolute;
    left: 0;
    right: 16px;
    bottom: 0;
    background-color: gray;

    .grip {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: black;
      cursor: col-resize;
    }
  }
}
