@import '_vars-colors';

.mp-panel-bordered {
  background-color: white;
  border: 1px solid $color-gray;
  box-sizing: border-box;

  .mp-panel-description {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 13px;
    color: silver;
    z-index: 100;
  }
}
