@import '_vars-colors';
@import '_vars-fonts';
@import '_vars-layout';

.callstack {
  margin: 0;
  padding: 0;
  position: absolute;
  top: $layout-control-surface-height;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  overflow-y: scroll;
  user-select: none;
  cursor: default;

  .callstack-record {
    margin: 16px;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: $font-monospace;

    .field {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    
    .signature {
      height: 24px;
      line-height: 24px;
      // background-color: transparentize(orange, 0.8);
      
      &.resume {
        font-style: italic;
        opacity: 0.5;
      }

      & > span {
        // background-color: transparentize(red, 0.8);
      }
      
      .sig-name {
        margin-right: 8px;
      }

      .sig-arg-num {
        margin: 0 8px;
        color: $color-blue;
      }

      .sig-arg-special {
        margin: 0 8px;
        color: $color-blue;
      }

      .sig-arr {
        margin-left: 8px;
      }
    }

    .sequence {
      margin: 4px 0 0 0;
      padding: 0;
      // background-color: transparentize(purple, 0.8);

      .point {
        // background-color: transparentize(orange, 0.8);
        cursor: pointer;
        color: gray;
        font-style: italic;

        &:hover:not(.expanded) {
          color: black;
          font-weight: 600;

          &::before {
            font-weight: normal;
            color: gray;
          }
        }

        &::before {
          content: "\025B6";
          width: 12px;
          margin-right: 8px;
          display: block;
          float: left;
          color: gray;
          font-style: normal;
        }

        &.expanded {
          color: black;

          &::before {
            content: "\025BC";
            font-style: normal;
          }

          &::after {
            content: " {";
            font-style: normal;
            font-weight: normal;
          }
        }
      }

      .scope {
        // background-color: transparentize(purple, 0.8);
        margin-bottom: 8px;

        .open-brace {
          display: block;
          margin-left: 20px;
          // background-color: transparentize(red, 0.8);
        }

        .variable {
          margin-left: 40px;
          display: block;

          .name {
            color: #8A1893;

            &::after {
              content: "\0003D";
              padding: 0 8px;
            }
          }

          .value {
            color: $color-blue;
          }
        }

        .close-brace {
          display: block;
          margin-left: 20px;
          // background-color: transparentize(red, 0.8);
        }
      }
    }
  }
}

/*

<div class="mp-runtime mp-panel-bordered">
  <div class="control-surface">
    <button class="mp-control-button" data-command="next">Next</button>
  </div>
  <div class="mp-panel-description">Runtime</div>
  <div class="callstack">
    <div class="callstack-record">
      <div class="signature">
        <span class="sig-name">Test.add</span>
        (
        <span class="sig-arg-num">2</span>
        ,
        <span class="sig-arg-num">2</span>
        )
        <span class="sig-arr">&xrArr;</span>
        <span class="sig-arg-special">4</span>
      </div>
      <div class="sequence">
        <div class="point">line 10</div>
        <div class="point">line 10</div>
        <div class="point">line 11</div>
      </div>
      <div class="callstack-record">
        <div class="signature">
          <span class="sig-name">Test.SimpleJava</span>
          (
          )
          <span class="sig-arr">&xrArr;</span>
          <span class="sig-arg-num">void</span>
        </div>
        <div class="sequence">
          <div class="point">line 5</div>
          <div class="point">line 5</div>
          <div class="point">line 6</div>
          <div class="point expanded"></div>
          <div class="scope">
            <span class="variable"><span class="name">a</span><span class="value">42</span></span>
            <span class="variable"><span class="name">b</span><span class="value">0</span></span>
            <span class="variable"><span class="name">c</span><span class="value">1000</span></span>
            <span class="close-brace">}</span>
          </div>
          <div class="point">line 7</div>
        </div>
      </div>
      <div class="signature resume">
        &rdca;
        <span class="sig-name">Test.add</span>
        (
        <span class="sig-arg-num">2</span>
        ,
        <span class="sig-arg-num">2</span>
        )
        <span class="sig-arr">&xrArr;</span>
        <span class="sig-arg-num">4</span>
      </div>
      <div class="sequence">
        <div class="point">line 11</div>
        <div class="point">line 12</div>
        <div class="point">line 13</div>
        <div class="point">line 14</div>
      </div>
    </div>
  </div>
</div>

 */
