$assets-sprite-horiz-icons: 20;
$assets-sprite-vert-icons: 2;
$assets-sprite-path: "/assets/images/sprite.png";
$assets-trace-sprite-path: "/assets/images/trace-sprite.png";
$assets-underline-path: "/assets/images/underline.png";
$assets-line-arrow-path: "/assets/images/arrow.png";
