$assets-sprite-horiz-icons: 9;
$assets-sprite-vert-icons: 4;
$assets-sprite-path: "sprite.png";
$assets-trace-sprite-path: "trace-sprite.png";
$assets-underline-path: "/public/underline.png";
$assets-line-arrow-path: "/public/arrow.png";
