$color-light-gray:        #F8F8F8;
$color-gray:              #BFBFBF;
$color-dark-gray:         #313337;
$color-editor-selection:  rgba(49, 51, 55, 0.2);
$color-blue:              #0000FF;

// Notification colors
$color-bg-fatal:          #DB231B;
$color-bg-alert:          #CE8627;
$color-bg-info:           #0098FF;
$color-bg-success:        #2AB783;
$color-text-fatal:        #87210A;
$color-text-alert:        #845B1A;
$color-text-info:         #0B327A;
$color-text-success:      #1D5531;
