<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/public/vendor.min.css">
    <link rel="stylesheet" href="/public/app.min.css">
  </head>
  <body>
    <div id="devtools-view">
      <button class="close-devtools"></button>
      <h2>Development Tools</h2>
      <hr>
      <div class="devtools-groups">
        <div class="group">
          <h3>Settings<span style="color:silver;font-weight:normal">&nbsp;&mdash;&nbsp;beta</span></h3>
          <form>

            <div class="form-checkbox">
              <label>
                <input type="checkbox" checked="checked">
                If-statement suggestions
              </label>
              <p class="note">Allow the backend to suggest adding novel if-statements in addition to constant repair</p>
            </div>

            <button type="button" class="btn btn-primary">Save changes</button>
          </form>
        </div>
        <div class="group">
          <h3>Data</h3>

          <form>
            <dl class="form-group">
              <dt><label>Full JSON Trace</label></dt>
              <dd>
                <textarea id="devtools-trace-json" class="form-control" placeholder="Trace not generated" readonly></textarea>
              </dd>
            </dl>
            <div class="form-actions">
              <button type="button" class="btn" data-clipboard-target="#devtools-trace-json">Copy to Clipboard</button>
            </div>
          </form>

          <form style="margin-top:32px;">
            <dl class="form-group">
              <dt><label>Modified Trace Point</label></dt>
              <dd>
                <textarea id="devtools-mod-trace-json" class="form-control" placeholder="Trace not modified" readonly></textarea>
              </dd>
            </dl>
            <div class="form-actions">
              <button type="button" class="btn" data-clipboard-target="#devtools-mod-trace-json">Copy to Clipboard</button>
            </div>
          </form>

          <form style="margin-top:32px">
            <dl class="form-group">
              <dt><label>Modified Trace Point Index</label></dt>
              <dd>
                <dd><input id="devtools-mod-trace-index" class="form-control input-block" type="number" readonly placeholder="Trace not modified" style="width:100%"></dd>
              </dd>
            </dl>
            <div class="form-actions">
              <button type="button" class="btn" data-clipboard-target="#devtools-mod-trace-index">Copy to Clipboard</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="body-mask"></div>
    <div class="app">
      <div class="mp-controls control-surface">
        <button class="mp-control-button" data-command="trace">Debug Mode</button>
        <button class="mp-control-button" data-command="halt" disabled>Edit Mode</button>
        <button class="mp-control-button" data-command="debug">Dev Tools</button>
        <select class="dropdown">
          <option value="tests" selected>Testing Program</option>
          <option value="hello">Hello World</option>
          <option value="conditional">Conditional</option>
          <option value="custom">Custom</option>
        </select>
        <button class="mp-control-button align-right" data-command="reset">Reset</button>
      </div>
      <div class="notif-bucket"></div>
      <div class="mp-workspace" style="bottom:16px">
        <div class="mp-editor mp-panel-bordered"></div>
        <div class="mp-runtime mp-panel-bordered">
          <div class="control-surface">
            <button class="mp-control-button no-text" data-command="jump-start" disabled title="Jump to Start"></button>
            <button class="mp-control-button no-text" data-command="step-backward" disabled title="Previous Step"></button>
            <button class="mp-control-button no-text" data-command="step-forward" disabled title="Next Step"></button>
            <button class="mp-control-button no-text" data-command="jump-end" disabled title="Jump to End"></button>
          </div>
          <div class="trace-visualization"></div>
          <div class="variables edit">
            <div class="mp-panel-description">Variables</div>
            <div class="variables-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/vendor.min.js"></script>
    <script src="/public/app.min.js"></script>
  </body>
</html>
