<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/public/vendor.min.css">
    <link rel="stylesheet" href="/public/app.min.css">
  </head>
  <body>
    <div class="debug-settings">
      <button class="close-settings"></button>
      <h2>Settings</h2>
      <hr>
      <h3>Copy JSON data</h3>
    </div>
    <div class="body-mask"></div>
    <div class="app">
      <div class="mp-controls control-surface">
        <button class="mp-control-button" data-command="trace">Run</button>
        <button class="mp-control-button" data-command="halt" disabled>Halt</button>
        <button class="mp-control-button" data-command="debug">Debug</button>
        <select class="dropdown">
          <option value="tests" selected>Testing Program</option>
          <option value="hello">Hello World</option>
          <option value="custom">Custom</option>
        </select>
        <button class="mp-control-button align-right" data-command="reset">Reset</button>
      </div>
      <div class="notif-bucket"></div>
      <div class="mp-workspace" style="bottom:16px">
        <div class="mp-editor mp-panel-bordered">
          <div class="mp-panel-description">Editor</div>
        </div>
        <div class="mp-runtime mp-panel-bordered">
          <div class="control-surface">
            <button class="mp-control-button no-text" data-command="jump-start" disabled title="Jump to Start"></button>
            <button class="mp-control-button no-text" data-command="step-backward" disabled title="Previous Step"></button>
            <button class="mp-control-button no-text" data-command="step-forward" disabled title="Next Step"></button>
            <button class="mp-control-button no-text" data-command="jump-end" disabled title="Jump to End"></button>
          </div>
          <!-- <div class="mp-panel-description">Runtime</div> -->
          <div class="trace-visualization"></div>
          <div class="variables edit">
            <div class="mp-panel-description">Variables</div>
            <div class="variables-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="demo-bar" style="display:none">
        <div class="left"></div>
        <div class="right"></div>
        <div class="slider">
          <div class="grip" style="left:50%"></div>
        </div>
      </div>
    </div>
    <script src="/public/vendor.min.js"></script>
    <script src="/public/app.min.js"></script>

    <script>
      class ConstrainedGrip {
        constructor (elem) {
          if ((elem instanceof jQuery) === false) {
            throw new Error('1st arg. must be a "jQuery" object')
          }

          const horizPadding = 128
          const panelPadding = 16
          const gripWidth = 16
          let mouseOffset = 0

          const mouseDown = (event) => {
            mouseOffset = event.layerX
            document.addEventListener('mousemove', mouseMove, false)
            document.addEventListener('mouseup', mouseUp, false)
            document.body.parentElement.style.setProperty('cursor', 'col-resize', 'important')
          }

          const mouseMove = (event) => {
            let pageX = event.pageX

            if (prevX !== pageX) {
              let gripRange = (document.body.clientWidth - (2 * horizPadding)) - gripWidth
              let gripOffset = (pageX - horizPadding) - mouseOffset              
              let gripPercent = decimalPlaces(100 * (gripOffset / gripRange), 2)
              gripPercent = (gripPercent > 100 ? 100 : (gripPercent < 0 ? 0 : gripPercent))

              let panelRange = (document.body.clientWidth - (2 * panelPadding)) - gripWidth
              let panelOffset = (pageX - panelPadding) - mouseOffset              
              let panelPercent = decimalPlaces(100 * (panelOffset / panelRange), 2)
              panelPercent = (panelPercent > 100 ? 100 : (panelPercent < 0 ? 0 : panelPercent))

              if (gripPercent > 100) {
                
              }

              elem.style.left = `${gripPercent}%`
              prevX = pageX
            }
          }

          const mouseUp = () => {
            document.removeEventListener('mousemove', mouseMove, false)
            document.removeEventListener('mouseup', mouseUp, false)
            // document.body.parentElement.style.cursor = 'default'
          }

          elem = jQuery(elem).get(0)
          elem.addEventListener('mousedown', mouseDown, false)

          let prevX = 0
        }
      }

      function decimalPlaces(n, places) {
        let nth = Math.pow(10, places)
        return Math.round(n * nth) / nth
      }

      const grip = new ConstrainedGrip($('.grip'))
    </script>
  </body>
</html>
